$header-bg: #afcfee;
$gray: #ededed;

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
* {
    margin: 0;
	padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Mukta', sans-serif;
    //scroll-behavior: smooth;
}

@mixin paw-bg {
    background-image: url(../img/paw-bg.jpg);
    background-color: $gray;
    background-position: center top;
    background-size: contain;
    overflow: hidden;
}

@mixin box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}