@media only screen and (min-width: 481px) and (max-width: 914px) {
    .home__item {
        max-width: 500px;
        min-width: 400px;
        align-self: center;
    }
   
    .pet__container {
        max-width: 440px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 915px)  {
    .home__item {
        max-width: 675px;
        min-width: 625px;
        align-self: center;
    }

    .nav {
        display: flex;

        &__title {
            padding: 20px;
            margin-left: 30px;
            font-size: 72px;
        }

        &__item {
            font-size: 30px;
            margin-left: 20px;
        }
    }

    .pet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .pet__container {
        min-width: 350px;
        max-width: 400px;
        align-self: flex-start;
    }
}
