@import 'config';

.pet {
    @include paw-bg;
    text-align: center;
    overflow: hidden;

    &__container {
        background-color: $gray;
        @include box-shadow;
        margin: 30px 25px 30px 25px;

        &--error {
            background-color: $gray;
            @include box-shadow;
            margin: 30px 25px 30px 25px;
            display: flex;
            justify-content: center;
            margin-top: 50px;
        }
    }

    &__header {
        text-decoration: underline;
        padding-top: 20px;
    }

    &__info {
        padding: 10px;
    }

    &__location {
        padding-bottom: 20px;
    }

    &__photo {
        max-width: 250px;
    }
}


