@import 'config';
@import 'pets';
@import 'form';

.header {
    background-color: $header-bg;
}

.nav {
    &__title {
        text-align: center;
        padding: 10px;
        font-size: 48px;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__link {
        color: black;
    }

    &__list {
        display: flex;
        width: 100%;
        list-style-type: none;
        padding-bottom: 20px;
        justify-content: center;
        align-items: center;
        
    }

    &__item {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;

        &:hover {
            transform: scale(1.2);
        }
    }
}

//Home styles

.background {
    @include paw-bg;
    //height: auto;

    &--error {
        background-image: url(../img/paw-bg.jpg);
        background-color: #ededed;
        background-position: center top;
        background-size: cover;
        overflow: hidden;
        height: 80vh;
        text-align: center;
    }
}

.home {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;

    &__item {
        margin-bottom: 30px;
    }


    &__container {
        background-color: $gray;
        @include box-shadow;
    }

    &__header {
        padding-top: 10px;
    }

    &__text {
        padding: 10px;
    }
}

//Foter styles
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: $gray;
    //height: auto;
}

@import 'media';